<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Phasakorn Chivatxaranukul">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Phasakorn Chivatxaranukul Professional Website">
    <title>Phasakorn Chivatxaranukul</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">
            Phasakorn Chivatxaranukul
        </h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">Portfolio</a>
            <a href="fun.html">About Me</a>
            <a href="contact.html">Contact Me</a>
        </nav>
    </header>
    <div class="mainLayout">
        <div id="item1">
            <h2 id="findMe">Find Me</h2>
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.4486144204425!2d-79.94543018909906!3d40.44320675390932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f21f58679a9f%3A0x88716b461fc4daf4!2sCarnegie%20Mellon%20University!5e0!3m2!1sen!2sus!4v1742693391556!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div id="item2">
            <h2>Contact Me</h2>
            <form id="contactForm" action="">
                <label for="name">Name:</label>
                <input type="text" id="name" required>
                <label for="email">Email:</label>
                <input type="text" id="email" required>
                <label for="comment" >Comment:</label>
                <textarea name="comment" id="comment" rows="4" cols="20" required></textarea>
                <input type="submit" id="submit_button" onclick="valid()">
            </form>
            <p id="validationMessage"></p>
        </div>
    </div>
    <table>
        <tr>
            <th>Contact Method</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>email: </td>
            <td>pchivatx@andrew.cmu.edu</td>
        </tr>
        <tr>
            <td>linkedin: </td>
            <td>linkedin.com/in/phasakorn-chivatxaranukul-8b6377214/</td>
        </tr>
        <tr>
            <td>phone number: </td>
            <td>(412) 224-0113</td>
        </tr>
    </table>
    <footer id="copyYear">
        © All Rights Reserved Designed and Coded by Phasakorn Chivatxaranukul
    </footer>
</body>
</html>