<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Phasakorn Chivatxaranukul">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Phasakorn Chivatxaranukul Professional Website">
    <title>Phasakorn Chivatxaranukul</title>
</head>
<body style="font-family:Arial">
    <header>
        <h1>
            Phasakorn Chivatxaranukul
        </h1>
        <div class = "main">
            <h2>Contact Me</h2>
            <p>Hello World!</p>
        </div>
        <nav>
            <a href="/67250_webdevlabs/pchivatx-lab1/index.html">Home</a>
            <a href="/67250_webdevlabs/pchivatx-lab1/views/cv.html">CV</a>
            <a href="/67250_webdevlabs/pchivatx-lab1/views/contact.html">Contact me</a>
            <a href="/67250_webdevlabs/pchivatx-lab1/views/fun.html">For fun</a>
        </nav>
    </header>
    <form action="">
        <label for="name">Name:</label><br>
        <input type="text"><br>
        <label for="email">Email:</label><br>
        <input type="text"><br>
        <label for="comment">Comment:</label><br>
        <input type="textarea"><br>
        <input type="submit">
    </form>
    <table>
        <tr>
            <th>Contact Method</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>email: </td>
            <td>pchivatx@andrew.cmu.edu</td>
        </tr>
        <tr>
            <td>linkedin: </td>
            <td>linkedin.com/in/phasakorn-chivatxaranukul-8b6377214/</td>
        </tr>
        <tr>
            <td>phone number: </td>
            <td>(412) 224-0113</td>
        </tr>
    </table>
    <footer>
        © 2025 All Rights Reserved Designed and Coded by Phasakorn Chivatxaranukul
    </footer>
</body>
</html>