<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Phasakorn Chivatxaranukul">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Phasakorn Chivatxaranukul Professional Website">
    <title>Phasakorn Chivatxaranukul</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">
            Phasakorn Chivatxaranukul
        </h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="./cv.html">Portfolio</a>
            <a href="./fun.html">About Me</a>
            <a href="./contact.html">Contact Me</a>
        </nav>
    </header>
    <div class="mainLayout">
        <div id="item1">
            <!-- <button id="hobbiesButton" onclick="showList()" >Click to see...</button> -->
            <ul id="hiddenList">
                <h2>Things I love to do for fun</h2>
                <li>Youtube Content Creation</li>
                <li>Podcasting</li>
                <li>Playing Soccer/Football</li>
                <li>Playing Tennis</li>
                <li>Playing the guitar</li>
                <li>Exploring new cuisines & food spots</li>
            </ul>
        </div>
        <div id="item2">
            <img class="funIMG" src="../static/soccer.JPG" alt="funIMG">
        </div>
        <div id="item3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SKfP40sgbPI?si=HcHfu7EldB8qa7MW" title="YouTube video player"
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
             referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div id="item4">
            <div class="container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Click the button to get a piece of advice!</p>
                <button id="adviceButton" onclick="getAdvice()">Get Advice</button>
            </div>
        </div>
    </div>
    <footer id="copyYear">
        © All Rights Reserved Designed and Coded by Phasakorn Chivatxaranukul
    </footer>
</body>
</html>